/* Comentario */
:root{
    --eden:#114c5f;
    --sanMarino: #4a6eb0;
    --bondiBlue: #0799cb;
    --sinbad: #9cd2d3;
    --alto: #d9d9d9;
    --icons: #013B95;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--eden);
    /* background-image: url(/TP-Final/imagenes/fondoprogramacion.png); */
    color: var(--alto);
}
.main-container{
    width: 430px;
    margin: 30px auto 40px;
    border: 1px solid red;
}
h1{
    width: 235px;
    font-size: 1.73em;
    line-height: 38px;
    margin: -6px auto 16px;
}
.carrusel-container{
    margin: 10px 10px 20px;
    border: 1px solid black;
    text-align: center;
}

.icon-error{
    width: 24px;
    height: 24px;
}