:root{
    --eden:#114c5f;
    --sanMarino: #4a6eb0;
    --bondiBlue: #0799cb;
    --sinbad: #9cd2d3;
    --alto: #d9d9d9;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(0deg, #ffffff 0%, #286585 100%);
    height: 100vh;
    /* background-image: url(/TP-Final/imagenes/fondoprogramacion.png); */
}

/* Clase para el icon que va junto a Ldtd - suspendido de momento */
/* h1 > .icon{
    width: 32px;
    height: 32px;
} */

.logo{
    width: 75px;
    position: absolute;
    top: 10px;
    right: 30px;
}
a{
    position:absolute;
    top: 10px;  
    left: 30px;
    color: var(--alto);
    text-decoration:none;
    font-size: 1.1em;
}

h1{
    margin-top: 100px;
    color: var(--alto);
    text-align: center;
}
h2{
    margin-top: 5px;
    color: var(--alto);
    text-align: center;
}
form{
    width: 400px;
    margin: 45px auto;
    text-align: center;
}
form input[type="text"]{
    background-color: var(--eden);
    color: var(--alto);
    border-style: none ;
    font-size: 1.5em;
}
form input[type="text"]::placeholder{
    color:var(--sinbad) ;
}
form input[type="text"]:focus{
    outline: none;
}
form input[type="submit"]{
    font-size: 1em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-style: none;
    color: var(--eden);
}
form input[type="submit"]:hover{
    background-color: var(--sinbad);
    cursor: pointer;
    color: var(--alto);
}
.list-container{
    width: 400px;
    margin: 0 auto;
}
.task-container{
    background-color: var(--alto);
    display: flex;
    justify-content: space-between;
    margin: 6px;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--sanMarino);
}
.closeBtn{
    width: 15px;
    height: 15px;
}
.closeBtn:hover{
    cursor: pointer;
}
#stats{
    margin: 25px;
    font-size: 1.3em;
    color: var(--eden);
    text-align: center;
}
