:root {
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  /*
colores:
.color1 {color: #104f7c;}
.color2 {color: #286585;}
.color3 {color: #527f90;}
.color4 {color: #7c989d;}
.color5 {color: #a0acab;}
 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family:'Roboto', sans-serif;
}

.main-container {
  background-color: white;
  width: 90%;
  max-width: 1800px;
  min-width: 400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* Opciones Flex -Contenedor Padre de toda la web*/
  display: flex;
  flex: row;
  flex-wrap: wrap;
}
header {
  background-color: var(--tono1);
  width: 100%;
  padding: 10px;
  /* Opciones Flex - Contenedor Padre de todos los elementos del header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
header .logo img {
  width: 50px;
  vertical-align: top;
}
header .logo a {
  line-height: 50px;
  color: white;
  text-decoration: none;
}
header a {
  /* line-height: 50px; */
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  /* Opciones Flex - Elemento HIJO */
  flex-grow: 1;
}
header a:hover {
  background-color: var(--tono5);
}
header .links {
  width: 40%;
  /* Opciones Flex - Contenedor padre de los Links*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* /////////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */
.carousel-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#carouselExampleCaptions {
  width: 400px;
  height: 400px;
}
.carousel-item h5,
p {
  color: black;
 font-weight: 600;
}
/* ////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */

.main {
  width: 100%;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  gap: 10px;

}
.main article, form {
  padding: 10px;
  border: 8px solid var(--tono1);
  margin-bottom: 10px;
  /* gap: 10px; */
}
.information {
  flex: 1 1 60%;
  /* Esta forma de generar espacio entre los elementos no esta bien cuando reduzo al maximo*/
}
.form {
  flex: 1 1 30%;
 }
 .form p { 
  text-align: center;
 }

.footer-container{
  background-color: var(--tono1);
  width: 100%;
  line-height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
footer p, a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  
  
}


/* para el form */
.icon-error {
  width: 24px;
  height: 24px;
}



