:root {
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  --tono6: #ffffff;
  --tono7: #ff0000;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  background-color: var(--tono6);
  font-family: "Roboto", sans-serif;
}

.main-container {
  /* Color grandiente lo obtengo de: https://cssgradient.io/gradient-backgrounds/ */
  background-image: linear-gradient(0deg, #ffffff 0%, #286585 100%);

  /* Sombra de la pagina */
  box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);

  /* Fin copia de gradiente */
  width: 90%;
  max-width: 1800px;
  min-width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* //////////////////////// Estilo del Header //////////////////////// */
header {
  background-color: var(--tono1);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .logo img {
  width: 50px;
  vertical-align: top;
  text-decoration: none;
  margin-right: 10px;
}

header .logo a {
  line-height: 50px;
  color: var(--tono6);
  text-decoration: none;
  padding: 10px;
}

header .links {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 15px;
}

header a {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color:var(--tono6);
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
}

header a:hover {
  background-color: var(--tono3);
}

/* Estilo del Carousel */
.carousel-container {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carouselExampleCaptions {
  width: 350px;
  height: 350px;
}

.carousel-item h5,
p {
  color: var(--tono6);
  font-weight: 600;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* //////////////////////// Estilo del MAIN //////////////////////// */
.main {
  width: 100%;
  padding: 10px;
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

article {
  border-radius: 10px;
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 59%;
}

article > div > p {
  display: block;
}

form {
  border-radius: 10px;
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 40%;
}

.information {
  padding: 60px;
  align-content: center;
}

.div-info {
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div .div-form {
  width: 80%;
  align-items: center;
}

div .div-form p {
  margin-bottom: 5px;
}

.input {
  border-radius: 10px;
  width: 100%;
  outline: var(--tono1);
  margin: 0 auto 5px auto;
  border: 2px solid var(--tono3);
  padding: 5px;
}
.input:focus {
  border-color: var(--tono1);
}

.btn {
  border-radius: 10px;
  color: var(--tono6);
  font-size: 1.3rem;
  text-align: center;
  width: 60%;
  background-color: var(--tono1);
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--tono1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover {
  background-color: var(--tono5);
}

.btn:active {
  background-color: var(--tono3);
}

div .input-datos {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  color: var(--tono7);
  border: none;
  padding: 5px;
}
div .input-datos p {
  margin: 0;
}

/* //////////////////////// Estilos footer //////////////////////// */

.footer-container {
  width: 100%;
  background-color: var(--tono1);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer a {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: var(--tono6);
  font-size: 1.3rem;
  /* flex-grow: 1;
  display: block; */
}

#whatsapp img {
	/* position: fixed;
	bottom: 100px;
	right: 38px;
	z-index: 10; */
	width: 60px;
	height: auto;
}
