:root {
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  --tono6: #ffffff;
  /*
colores:
.color1 {color: #104f7c;}
.color2 {color: #286585;}
.color3 {color: #527f90;}
.color4 {color: #7c989d;}
.color5 {color: #a0acab;}
 */
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  background-color: white;

  /* background-color: white; */
  font-family: "Roboto", sans-serif;
}

.main-container {
  /* Color grandiente lo obtengo de: https://cssgradient.io/gradient-backgrounds/ */
  background-image: linear-gradient(0deg, #ffffff 0%, #286585 100%);

  /* Sombra de la pagina */
  box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
  -webkit-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
  -moz-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);

  /* Fin copia de gradiente */
  width: 90%;
  max-width: 1800px;
  min-width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /* Opciones Flex -Contenedor Padre de toda la web*/
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

/* //////////////////////// Estilo del Header //////////////////////// */
header {
  background-color: var(--tono1);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
/* Efecto de profundidad */
/* box-shadow: 17px 20px 15px -2px rgba(0,0,0,0.62) inset;
-webkit-box-shadow: 17px 20px 15px -2px rgba(0,0,0,0.62) inset;
-moz-box-shadow: 17px 20px 15px -2px rgba(0,0,0,0.62) inset; */

/* box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
-webkit-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
-moz-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86); */


  /* Opciones Flex - Contenedor Padre de todos los elementos del header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

header .logo img {
  width: 50px;
  vertical-align: top;
}

header .logo a {
  line-height: 50px;
  color: white;
  text-decoration: none;
}

header a {
  /* line-height: 50px; */
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  /* Opciones Flex - Elemento HIJO */
  flex-grow: 1;
}

header a:hover {
  background-color: var(--tono3);
  /*   */
}

header .links {
  width: 40%;
  /* Opciones Flex - Contenedor padre de los Links*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Estilo del Carousel */
/* /////////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */
.carousel-container {
  /* background-color: white; */

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* .carousel-inner{
  width: 350px;
  height: 350px;
} */

#carouselExampleCaptions {
  width: 350px;
  height: 350px;
}

.carousel-item h5,
p {
  color: black;
  font-weight: 600;
}
/* revisar estoooooo  */
.carousel-caption{
  position: inherit;
}
/* .carousel-control-prev, .carousel-control-next {
  color: black;
} */

/* ////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */

/* //////////////////////// Estilo del MAIN //////////////////////// */
.main {
/* Sombreado */
/* box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
-webkit-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86);
-moz-box-shadow: 46px 37px 42px 13px rgba(0,0,0,0.86); */


  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

article {
  border-radius: 10px;
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 59%;
}

article > div > p {
  display: block;
  /* background-color: yellow; */
}

form {
  border-radius: 10px;
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 40%;
}

.information {
  padding: 60px;
  align-content: center;
}

.div-info {
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div .div-form {
  width: 80%;
  align-items: center;
}
.input {
  border-radius: 10 px;
  width: 100%;
  outline: var(--tono1);
  margin: 0 auto 5px auto;
  border: 2px solid var(--tono3);
  padding: 5px;
}
.input:focus {
  border-color: var(--tono1);
}

.btn {
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
  background-color: var(--tono1);
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--tono1);
  box-shadow: 0 1px rgb(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: var(--tono5);
}

.btn:active {
  background-color: var(--tono3);
}

/* //////////////////////// Estilos footer //////////////////////// */
.footer-container {
  border-radius: 10px;
  background-color: var(--tono1);
  width: 100%;
  line-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p,
a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
