:root {
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  /*
colores:
.color1 {color: #104f7c;}
.color2 {color: #286585;}
.color3 {color: #527f90;}
.color4 {color: #7c989d;}
.color5 {color: #a0acab;}
 */
}
html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.main-container {
  background-color: white;
  width: 90%;
  max-width: 1800px;
  min-width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /* Opciones Flex -Contenedor Padre de toda la web*/
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

/* Estilo del Header */
header {
  background-color: var(--tono1);
  width: 100%;
  padding: 10px;
  /* Opciones Flex - Contenedor Padre de todos los elementos del header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

header .logo img {
  width: 50px;
  vertical-align: top;
}

header .logo a {
  line-height: 50px;
  color: white;
  text-decoration: none;
}

header a {
  /* line-height: 50px; */
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  /* Opciones Flex - Elemento HIJO */
  flex-grow: 1;
}

header a:hover {
  background-color: var(--tono5);
}

header .links {
  width: 40%;
  /* Opciones Flex - Contenedor padre de los Links*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Estilo del Carousel */
/* /////////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */
.carousel-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* .carousel-inner{
  width: 350px;
  height: 350px;
} */

#carouselExampleCaptions {
  width: 350px;
  height: 350px;
}

.carousel-item h5,
p {
  color: black;
  font-weight: 600;
}
/* .carousel-control-prev, .carousel-control-next {
  color: black;
} */

/* ////////////VER COMO MANEJAR EL CAROUSELLLLLLLLLLL */


/* Estilo del MAIN */
.main {
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

article {
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 59%;
}
article > div > p{
 display: block;
 /* background-color: yellow; */

}

form {
  padding: 10px;
  border: 8px solid var(--tono1);
  flex: 1 1 40%;
}

.information {
  align-content: center;
}
.div-info{
  max-height: 100%;
  align-items: center;
 justify-content: center;
}
/* .img {
  border-radius: 5px;
  width:100%;
  height: 120px;
} */


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}


div .div-form {
  width: 80%;
  align-items: center;  
}

.input {
  width: 100%;
  outline: var(--tono1);
  margin: 0 auto 5px auto;
  border: 2px solid var(--tono3);
  padding: 5px;
}

.input:focus {
  border-color: var(--tono1);
}

.btn {
  text-align: center;
  width: 50%;
  background-color: var(--tono3);
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--tono1);
  box-shadow: 0 1px rgb(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: var(--tono5);
}

.btn:active {
  background-color: var(--tono3);
}




/* Estilos footer */
.footer-container {
  background-color: var(--tono1);
  width: 100%;
  line-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}

footer p,
a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}